@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, sans-serif;
}

.logg {
    position: relative;
    background-image: url("../images/log.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.main-wrapper {
    position: relative;
    z-index: 2;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 420px; 
    padding: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
    color: white;
    margin:40px 0;
}

.logo {
    font-size: 45px;
    margin-bottom: 20px;
}

.white { color: white; }
.blue { color: #1f8cff; }

.logo i {
    color: #1f8cff;
    margin-right: 8px;
}

h2 {
    font-weight: bold;
}

p {
    color: #ddd;
    margin-bottom: 25px;
}

.login-card .form-control {
    width: 100% !important;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: white !important;
    height: 50px;
    border-radius: 8px;
    padding-left: 20px;
}

.login-card .form-control::placeholder {
    color: #ddd;
}

.login-card .form-control:focus {
    background: rgba(255, 255, 255, 0.2);
    color: white !important;
    border-color: #1f8cff;
    box-shadow: none;
}

.btn-login {
    width: 100% !important;
    background: #1f8cff;
    color: white;
    border: none;
    height: 48px;
    border-radius: 8px;
    font-weight: bold;
    display: block;
}

.btn-login:hover {
    background: #0b74e5;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #1f8cff;
}